

<div class="fondo6">
    <div class="container">
        <div class="row">
            <div class="col-12 card-specification">
                <div class="row">
                    <div class="col-12 titulo text-center">
                        Consultas Online
                    </div>
                     <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Se puede realizar por medio de videollamada (Skype, Whatsapp), cómo más te guste, tú eliges.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                El plan es 100% personalizado, de acuerdo a tus necesidades energéticas, gustos o si presentas alguna enfermedad.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Tu peso lo puedes tomar en alguna báscula que tengas, no importa si no es profesional, lo importante es que te peses en la misma báscula, puedes también buscar un lugar dónde te puedan pesar cada 15 días 
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                No te preocupes por las medidas, yo te enseñaré la técnica correcta para tomarlas (cintura, cadera)
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Te enviaremos al correo tu plan de alimentación, con lista de intercambio de alimentos, una guía nutricional que te será de mucha ayuda para llevar tu plan, lista de marcas recomendadas del supermercado

                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Las consultas de seguimiento son cada 15 días 
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                No manejo medicamentos, solo alimentos
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                        <div class="card card-consulta">
                            <div class="oferta">
                                !Oferta¡
                            </div>
                            <div style="background-image: url('assets/img/IMG_9073.jpeg');" class="divfondo">
                                
                            </div>
                        </div>
                        <div class="row card-textt">
                            <div class="col-12 mt-2 text-center">
                               1 Consulta Online
                            </div>
                            <div class="col-12 text-center">
                               <span class="span">$ 625.00</span> $ 530.00
                            </div>
                            <div class="btnpay" #paypal1></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                        <div class="card card-consulta">
                            <div class="oferta">
                                !Oferta¡
                            </div>
                            <div style="background-image: url('assets/img/IMG_9067.jpeg');" class="divfondo">
                    
                            </div>
                        </div>
                        <div class="row card-textt">
                            <div class="col-12 mt-2 text-center">
                             2 Consultas Online (Paquete)
                            </div>
                            <div class="col-12 text-center">
                                <span class="span">$ 1060.00</span> $ 930.00
                            </div>
                            <div class="btnpay" #paypal2></div>
                          
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                        <div class="card card-consulta">
                            <div class="oferta">
                                !Oferta¡
                            </div>
                            <div style="background-image: url('assets/img/IMG_9063.jpeg');" class="divfondo">
                    
                            </div>
                        </div>
                        <div class="row card-textt">
                            <div class="col-12 mt-2 text-center">
                                3 Consultas Online (Paquete)
                            </div>
                            <div class="col-12 text-center">
                                <span class="span">$ 1600.00</span> $ 1300.00
                            </div>
                            <div class="btnpay" #paypal3></div>
                        </div>
                    </div>
                    

                </div>
            </div>
            <div class="col-12 card-specification m-t-50 " >
                <div class="row">
                    <div class="col-12 titulo text-center">
                        Consulta Presencial
                    </div>
                  
                    <div class="col-12 m-t-40">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Se hace un llenado de expediente para conocer un poco más tus antecedentes familiares, tus gustos, tu estilo de vida
                                (horarios de comida, ejercicio, etc), para poder hacer el diseño del menú PERSONALIZADO.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Se hace una evaluación con bioimpedancia (báscula segmental) peso, IMC, % de grasa (total, brazos, piernas, tronco), kg
                                de masa muscular, % agua, grasa visceral, entre otras mediciones. También se puede realizar plicometría.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Dentro de la consulta se habla sobre tus metas y diseñamos un plan de acción para cumplirlas
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Incluye tu plan de alimentación personalizado, guía nutricional, lista de productos recomendables del supermercado
                            </div>
                        </div>
                    </div>
                    
            
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Las consultas de seguimiento son cada 15 días, el plan de alimentación cambia en cada consulta.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                No manejo medicamentos
                            </div>
                        </div>
                    </div>
            
                 
                    
                    <div class="col-12 text-center m-t-30">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=52333397-3900" class="btn btn-morado">Agenda tu cita</a>
                    </div>
            
                   
            
            
                </div>
            </div>
            <div class="col-12 card-specification ulitma-card ">
                <div class="row">
                    <div class="col-12 titulo text-center">
                        Programas / Retos
                    </div>
                    <div class="col-12 sub-titulo">
                        <h2>Beneficios</h2>
                    </div>
                    <div class="col-12 m-t-40">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Disminuye peso, el inicio del camino hacia un peso saludable
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Bajas % de grasa y medidas
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Reduces la alimentación procesada, por lo que mejora tu digestión, si padeces de colitis, gastritis o estreñimiento te
                                ayudará muchísimo, adiós inflamación!
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Aprenderás nuevos hábitos y deliciosas recetas que las adoptarás por siempre
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sub-titulo">
                        <h2>¿Qué incluye el Full Kit?</h2>
                    </div>
                    <div class="col-12 m-t-40">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Menús para 4 semanas
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Ebook Recetarios (desayunos, comidas y cenas)
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                            Ebook marcas recomendadas
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                            Ebook postres saludables
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Ebook Guía Nutricional básica con recomendaciones, tips para llevar tu alimentación saludable satisfactoriamente
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Ebook Lectura de etiquetas
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                4 Facebook lIve con temas nutricionales donde aprenderás muchísimo, los temas van variando en cada programa
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Formato lista del supermercado
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Grupos de apoyo en whatsapp y Facebook (privado), son grupos donde compartimos experiencias, fotos de platillos, fotos
                                de cambios, o dudas que con gusto solucionaré
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Rutinas para hacer ejercicio en casa, podrás utilizar material que ya tienes para simular pesas.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Lista intercambio de alimentos
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sub-titulo">
                        <h2>¿Qué incluye el Kit básico?</h2>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                            Menús para 4 semanas
            
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                            Ebook Recetarios de los menús (desayunos, comidas y cenas)
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Ebook Guía Nutricional básica con recomendaciones, tips para llevar tu alimentación saludable satisfactoriamente
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                            4 Facebook lIve con temas nutricionales donde aprenderás muchísimo, los temas van variando en cada programa
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Grupos de apoyo en whatsapp y Facebook (privado), son grupos donde compartimos experiencias, fotos de platillos, fotos
                                de cambios, o dudas que con gusto solucionaré
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Rutinas para hacer ejercicio en casa, podrás utilizar material que ya tienes para simular pesas
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Lista intercambio de alimentos
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-12 m-auto alert ">
                        <h2 class="m-t-30">
                            ¡No te lo puedes perder!
                            <p>
                            conocerás la importancia de adoptar buenos hábitos.
                        </h2>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6 col-lg-6 text-center m-t-40 d-none">
                        <a><img src="/assets/img/btrk1.svg" alt=""></a>
                        <div class="btnpay" #paypal4></div>
                    </div>
                    
                    <div class="col-12 text-center m-t-40">
                        <div class="btn btn-morado">Proximamente</div>
                       
                    </div>
            
            
                </div>
            </div>
            <div class="col-12 card-specification p-l  d-none">
                <div class="row">
                    <div class="col-12 titulo text-center">
                        Paquete consultas Educación en Diabetes
                    </div>
                    <div class="col-12">
                        <div class="row text-list">
                            <div class="col-1 text-gris4">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="col-11">
                                Son 10 consultas (de $7000 a $6000)
                            </div>
                        </div>
                    </div>
                    <div class="col-10 text-justify offset-1 m-t-40">
                        La finalidad de este paquete de consultas no es solo adquirir un plan de alimentación, es ayudar al paciente a
                        empoderarse en Diabetes, mediante la educación, se le aplicará distintos test en las primeras consultas para dar pie al
                        plan de Intervención educativa, donde el paciente obtendrá conocimientos de dicha condición para mejorar el apego al
                        tratamiento, ver la Diabetes como un aliado y no como un problema, puede ir desde enseñanzas sobre cómo usar un
                        glucómetro, cómo aplicar insulina, conteo de carbohidratos, regla de los 15, cómo funciona el tratamiento farmacológico,
                        reducir riesgos, revisión de pies, cómo actuar ante una hipoglucemia/hiperglucemia, etapas de duelo, entre otros temas.
                        La duración por consulta va de 60 a 80 minutos
                    </div>
                    
                    <div class="col-12 text-center text-center m-t-40">
                        <a  class="btn btn-morado"href="">Más Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

