<div class="fondo-1">
    <img src="assets/img/K-01.png" class="f2-left" alt="">
    <img src="assets/img/K-01.png" class="f2-rigth" alt="">
    <div class="container-fluid">
        <ngb-carousel style="z-index: 2;">
            <ng-template ngbSlide>

                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block ">
                            <img src="assets/img/IMG-20200514-WA0020.jpg" class="img-fluid img-test" alt="">
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 col-lg-8">
                            <div class="card card-SLD">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 titulo">
                                            Programas / Retos
                                        </div>
                                        <div class="col-12 subtitulo">
                                            Disminuye peso, el inicio del camino hacia un peso saludable.
                                            Reduces la alimentación procesada, por lo que mejora tu digestión, si
                                            padeces de colitis, gastritis o estreñimiento te
                                            ayudará muchísimo, adiós inflamación!
                                            <p class="m-t-30">
                                                <a class="btn btn-morado text-white " routerLink='/consultas-retos'>Únete</a>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>

                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block" >
                            <img src="assets/img/IMG_9065.jpeg" class="img-fluid img-test" alt="">
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 col-lg-8" >
                            <div class="card card-SLD">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 titulo">
                                            Consultas Online
                                        </div>
                                        <div class="col-12 subtitulo">
                                            Se puede realizar por medio de videollamada (Skype, Whatsapp), como más te guste, tu eliges.
                                            <p class="m-t-30">
                                                <a class="btn btn-morado text-white" routerLink='/consultas-retos'>Mas
                                                    Información</a>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            

        </ngb-carousel>
    </div>
    <img src="assets/img/logonombre4.png" class="f2" alt="">
    <img src="assets/img/f1.svg" class="f1" alt="">
</div>

<div class="seccion-consultas m-t-50">
    <div class="container">
        <div class="row d-flex align-item-center">
            <div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
                <img src="assets/img/IMG-20200514-WA0026.jpg" class=" class-imgrond m-t-20" alt="">
            </div>
            <div class="col-12 col-md-9 col-xl-9 col-lg-9">
                <div class="titulo">
                    Consultas Online
                </div>
                <div class="subtitulo">
                    Se puede realizar por medio de videollamada (Skype, Whatsapp), o por llamada telefónica, cómo más te
                    guste, tú eliges.
                </div>
                <div class="cardtexto m-t-30">
                    Te enviaremos al correo tu plan de alimentación, con lista de intercambio de alimentos, una guía
                    nutricional que te será
                    de mucha ayuda para llevar tu plan, lista de marcas recomendadas del supermercado
                </div>
                <br>
                <a class="btn btn-morado text-regular" routerLink='/consultas-retos'>Ver Consultas</a>
            </div>
        </div>
    </div>
</div>

<div class="fondo5 ">
    <img src="assets/img/f4.svg" class="f2" alt="">

    <div class="container">
        <div class="row">
            <div class="col-12 titulo text-center">
                Tienda
            </div>
            <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="card card-store">
                    <div class="logo">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="textto">
                        Consultas
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="card card-store">
                    <div class="logo">
                        <i class="fa fa-gratipay"></i>
                    </div>
                    <div class="textto">
                        Programas / Retos
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="card card-store">
                    <div class="logo">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </div>
                    <div class="textto">
                        Educación en Diabetes
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-morado" routerLink='/consultas-retos'>Ir a Tienda</a>
            </div>
        </div>
    </div>
    <img src="assets/img/f4.svg" class="f4" alt="">
</div>

<div class="secc-testimonios m-t-100">
    <div class="container">
        <div class="col-12 titulo text-center">
            Testimonios
        </div>
    </div>
</div>


<div class="container-fluid m-t-60 m-b-60">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class=" col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block ">
                        <img src="assets/img/IMG_8744.jpg" class="img-fluid img-test" alt="">
                    </div>
                    <div class="col-12 col-md-8 col-xl-8 col-lg-8">
                        <div class="card card-testimonio">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 titulo">
                                        Mauricio Carrilo
                                    </div>
                                    <div class="col-12 subtitulo">
                                        Cuando llegue con la Lic. Karen tenía un % de grasa muy por encima de los saludables. Siempre recibí atención puntual y
                                        precisa, menús específicamente creados para mi con mis comidas favoritas y enfocados en una perdida de grasa lo que
                                        siempre facilitó el disfrutar de comer saludable y sobretodo mejorar mi salud. La ayuda y motivación de Karen siempre
                                        fue fundamental para realizar este cambio de hábitos alimenticios y también fue un impulso para iniciar en un deporte
                                        que hasta hoy amo y es el CrossFit.
                                        Hoy puedo decir orgullosamente que ¡Lo logré! Y que ¡Si se puede! hoy disfruto de un % de grasa saludable.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>

            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block ">
                        <img src="assets/img/07db1fe5-2404-4996-a27f-cb2001379ff6.jpg" class="img-fluid img-test"
                            alt="">
                    </div>
                    <div class="col-12 col-md-8 col-xl-8 col-lg-8">
                        <div class="card card-testimonio">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 titulo">
                                        KARLA BUJANOS
                                    </div>
                                    <div class="col-12 subtitulo">
                                        Mi estilo de vida y mi cuerpo estaban en una zona de confort muy grande, no era de hacer “dietas” y no ponía atención a
                                        lo que mi cuerpo me pedía y es ahí donde gracias a mi nutrióloga que me enseñó como se lleva una vida saludable, nunca
                                        me dió dietas complicadas donde te tienes que morir de hambre o que pueden causarte desequilibrios a tu organismo, todo
                                        lo que está en sus menús está delicioso y lo mejor que es súper fácil y practico de cocinar.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
        
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <img src="assets/img/5da0e47b-2c1e-4585-a3dd-a100357d7baf.jpg" class="img-fluid img-test" alt="">
                    </div>
                    <div class="col-12 col-md-8 col-xl-8 col-lg-8">
                        <div class="card card-testimonio">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 titulo">
                                        IOLIN VILLANUEVA
                                    </div>
                                    <div class="col-12 subtitulo">
                                        Hace casi dos años que inicié con mi primer reto con la nutri Karen, ha sido de las mejores decisiones, descubrí que
                                        para nada es estar a dieta... nunca pasé hambre y los menús súper ricos, además que pude hacer modificaciones si algo no
                                        me gustaba o no podía comerlo. He aprendido mucho, la nutri tiene una manera muy buena de explicar las cosas que
                                        fácilmente las aprendí, no solo bajé esos kilitos de más que tenía, bajé tallas, adopté buenos hábitos ¡gracias por
                                        tanto Nutri!
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
        
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <img src="assets/img/89fd42c1-362b-419e-9da9-145a01810f01.jpg" class="img-fluid img-test" alt="">
                    </div>
                    <div class=" col-12 col-md-8 col-xl-8 col-lg-8">
                        <div class="card card-testimonio">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 titulo">
                                        JOSÉ RODRIGO VILLANUEVA RODRÍGUEZ
                                    </div>
                                    <div class="col-12 subtitulo">
                                        Tengo Diabetes tipo 2, por lo que recurrí a los servicios de la Nutrióloga Karen, quien me solicitó antecedentes médicos
                                        y datos personales para elaborar un plan alimenticio personalizado, asegurándome que si lo llevaba a cabo tal como lo
                                        sugirió, los niveles de glucosa disminuirían considerablemente. Lo cual fue cierto, mis niveles de glucosa fluctúan
                                        entre 90 y 100 gr/dl, por lo que reconozco los conocimientos de Karen en materia nutricional, además llevamos sesiones
                                        de Educación en Diabetes y estoy muy satisfecho, conozco más detalles sobre la diabetes y sé que a partir de ahora la
                                        diabetes será mi compañera.
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="parallax"></div>

<div class="secc-testimonios m-t-100">
    <div class="container">
        <div class="col-12 titulo text-center">
            Galeria
        </div>
    </div>
</div>

<div class="contenedor-galeria m-b-50">
    <div class="fila">
        
        <div class="columna-2-3">
            <div class="fila">
                <div class="columna-1-3">
                    <div (click)="imgagenfull('IMG_8852.jpeg')"  class="largo">
                        <img src="assets/img/IMG_8852.jpeg" alt="">
                    </div>
                </div>
                <div class="columna-2-3">
                    <div  (click)="imgagenfull('IMG_8810.jpeg')"   class="normal">
                        <img src="assets/img/IMG_8810.jpeg" alt="">
                    </div>
                    <div  (click)="imgagenfull('IMG_8687.jpeg')"   class="normal">
                        <img src="assets/img/IMG_8687.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="columna-1-3">
                    <div (click)="imgagenfull('IMG_8995.jpeg')"  class="small">
                        <img src="assets/img/IMG_8995.jpeg" alt="">
                    </div>
                </div>
                <div class="columna-1-3">
                    <div (click)="imgagenfull('IMG_9001.jpeg')"  class="small">
                        <img src="assets/img/IMG_9001.jpeg" alt="">
                    </div>
                    
                </div>
                <div class="columna-1-3">
                    <div (click)="imgagenfull('IMG_8987.jpeg')"  class="small">
                        <img  src="assets/img/IMG_8987.jpeg" alt="">
                    </div>
                
                </div>
            </div>
        </div>
        <div class="columna-1-3">
            <div (click)="imgagenfull('IMG_8857.jpeg')"  class="normal">
                <img src="assets/img/IMG_8857.jpeg" alt="">
            </div>
            <div (click)="imgagenfull('IMG_8924.jpeg')"  class="normal">
                <img src="assets/img/IMG_8992.jpeg" alt="">
            </div>
            <div  (click)="imgagenfull('IMG_8990.jpeg')" class="small">
                <img src="assets/img/IMG_8990.jpeg" alt="">
            </div>
        </div>
        
    </div>
</div>


<div class="preload-modal container-fluid" *ngIf="ver_img">
    <div class="row">

        <div class="col-6 card m-auto">
            <div class="card-heder">
                <button (click)="ver_img=false" type="button" id="closed" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <img [src]="img_alta" class="img-fluid" alt="">
            </div>
           
        </div>
    </div>
</div>

<div class="preload-modal" *ngIf="modal_imagen">
    <div class="container">
        <div class="row">
            <div class="col-7 card m-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right m-b-20">
                            <button (click)="modal_imagen = false" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-12 text-center">
                            <img class="img-fluid" style="max-height: 70vh;" [src]="img_select" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>