<div class="conatainer-fluid bg-azul">
    <div class="container">
        <div class="row p-t-20 p-b-20">
            <div class="col-12 text-blanco titulo">
                    ¿Tienes Dudas?
            </div>
            <div class="col-12 col-md-9 col-xl-9 col-lg-9 text-blanco sub-titulo">
                Envíanos un mensaje con tus dudas y en breve nos pondremos en contacto contigo.
            </div>
            <div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
                <a routerLink='/contacto' class="btn btn-morado">Contacto</a>
            </div>
        </div>
    </div>
</div>
<div class="conatainer-fluid bg-gris1">
    <div class="container">
        <div class="row p-t-20 p-b-20">
            <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="row">
                    <div class="col-12 text-blanco titulo-2">
                        Agenda tu Cita
                    </div>
                    <div class="col-12 sub-titulo-2">
                        33 3397 3900
                    </div>
                    <div class="col-12 sub-titulo-2">
                        Centro Médico Puerta de Hierro
                    </div>
                    <div class="col-12 sub-titulo-2">
                        Av. Empresarios #150 Torre Elite piso 7-703
                    </div>
                    <div class="col-12 sub-titulo-2">
                        Consultas presenciales y online
                    </div>
                    <div class="col-12 sub-titulo-2">
                        <a href="mailto:info@nutriologakaren.com">info@nutriologakaren.com</a> 
                    </div>
                   
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-4 col-lg-4">
                <div class="row">
                    <div class="col-12 text-blanco titulo-2">
                        Enlaces
                    </div>
                    <div class="col-12 sub-titulo-2">
                        <a routerLink='/citas' routerLinkActive="active" >Citas</a>
                    </div>
                    <div class="col-12 sub-titulo-2">
                        <a routerLink='/faqs' routerLinkActive="active">Preguntas Frecuentes</a>
                    </div>
                    <div class="col-12 sub-titulo-2">
                        <a routerLink='/consultas-retos' routerLinkActive="active">Consultas y Retos</a>
                    </div>
                    <div class="col-12 sub-titulo-2">
                        <a routerLink='/contacto' routerLinkActive="active">Contacto</a>
                    </div>                
                </div>
            </div>
            <div class="m-auto col-6 col-md-3 col-xl-3 col-lg-3 col-offset-1 text-center">
                <img src="assets/img/K-01.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
